body{
    background-color: antiquewhite;
}


.col-4 img{
    text-align: center;
    height:300px;
    width:300px;
}

.col-12 img{
    height:400px;
    width: 100%;
}

.mid{
    margin: 20px 130px;
    text-align: center;
}
